/* div{
    height: 500px;
    background-color: red;
}

h1{
    width: 500px;
    text-align: center;
    
   
    background-color: lightblue;
    color: brown;
    border: 2px solid black;
    position: absolute;
    top: 200px;
    left: 100px;
 
    
    
    
    
    
    
    
    /* margin-left: 100px;
    margin-top: 100px; */
    /* padding-left: 20px;
    padding-top: 50px;
    margin-left: 20px; */
    /* padding: 10px 20px 10px 25px;
    margin-left: 400px; */

header{
    background-color: lightblue;
    
    
   
}
.left{
    width: 10px;
    display: inline;
}
.right{
    float: right;
    position: relative;
    right: 150px;
    top: 3px;
    

}